.maindrawerhead {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.imglogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.navitem {
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-family: Raleway;
  font-weight: 700;
  color: rgb(12, 84, 35);
  cursor: pointer;
  transition: color 0.5s ease 0s;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.backbtn {
  padding: 1rem 0;
  text-align: center;
  background-color: rgb(12, 84, 35);
  color: #ffffff;
  cursor: pointer;
}
