.breadcrum {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-family: 400;
}
.plpcat {
  color: #3b6f44;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  padding-right: 3rem;
}
.plpcatdes {
  letter-spacing: 0.00938em;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  flex: 1;
  color: #232323;
}

/* modal.module.css */



