@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingspinner {
  width: 55px;
  height: 55px;
  border: 5px solid #afafaf; /* Light grey */
  border-top: 5px solid #0c5423; /* green */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinnercontainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 550px;
}
